body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfEfyKvwmsL3zJMgW8Q0bChg2jobb3B9-Vdw&usqp=CAU');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:darkred;
    font-size: 36px;
}

header {
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
}
 