body {
    color:yellow;
    font-size: 30px;
    padding: 10px;
    background-size: cover;
    background-position: 10%;
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhskOzhWjd8g2XGCmo0CsAG-nJHORIV_dNgQ&usqp=CAU')

}

header {
    text-align: center;
    color:#200;
    background-color:#600;
    padding: 10px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url('https://media.tenor.com/jBGMjmjO0UQAAAAC/mortal-kombat-scorpion.gif;')
}

h1 {
    margin: 0;
    color:gold;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
    color:red;
}
 
 l1 {
   font-size: 18px;
   margin: 12px 0;
   color:red;
 }

main {
background-color:darkred;
background-repeat: no-reapet;
background-attachment: fixed;
background-size: cover;
background-clip: padding-box;
font-size: 18px;
background-position: 90%;
background-image:url('https://media.tenor.com/makoRL0gbkQAAAAM/scorpion-mortal-kombat.gif')

}

section {
  font-size: 18px;
  padding: 10px;
  margin: 18px;
  background-attachment: fixed;
  
}