body {
    color:yellow;
    font-size: 30px;
    padding: 10px;
    background-size: cover;
    background-clip: border-box;
    background-attachment: fixed;
    background-position: 100%;
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdLC73XeXUcJ7BLb5YyC-GfLi-l48DTUzChQ&usqp=CAU')

}

header {
    text-align: center;
    color:#200;
    padding: 80px;
    background-position: 50%;
    background-position-y: 30%;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: auto;
    background-clip: border-box;
    background-image:url('https://media.tenor.com/jBGMjmjO0UQAAAAC/mortal-kombat-scorpion.gif;')
}

h1 {
    margin: 0;
    color:gold;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
    color:#300;
}
 
 l1 {
   font-size: 18px;
   margin: 12px 0;
   color:red;
 }

main {
    text-align: center;
background-color:darkred;
background-repeat: no-reapet;
background-attachment: local;
background-size: cover;
background-clip: border-box;
font-size: 24px;
background-position: 44%;
background-position-y: 30%;
background-image:url('https://media.tenor.com/makoRL0gbkQAAAAM/scorpion-mortal-kombat.gif')

}

section {
  font-size: 18px;
  padding: 30px;
  margin: 18px;
  background-clip: content-box;
  background-size:auto;
}